<%= javascript_include_tag 'uploads/basic', 'data-turbolinks-track': true %>

<%= simple_form_for @test, multipart: true, remote: false do |f| %>
  <div class="ui pointing secondary tabs menu">
    <a class="active item" data-tab="info">Информация</a>
    <a class="item" data-tab="content">Контент</a>
  </div>
  <div class="ui basic active tab segment" data-tab="info">
    <%= f.input :name, label: "Имя", required: true %>

    <%= f.association :owner,
                      as:            :select,
                      collection:    User.order('email ASC').all,
                      label:         "Владелец",
                      placeholder:   "Выберете владельца теста",
                      label_method:  :email,
                      selected:      (params[:action] == 'edit' || params[:action] == 'update' ? @test.owner.id : current_user.id),
                      value_method:  :id,
                      required:      true,
                      include_blank: false,
                      input_html:    { :class => "search selection" }
    %>

    <%= f.association :service,
                      as:            :select,
                      collection:    Service.order('name ASC').all,
                      label:         "Сервис",
                      placeholder:   "Выберете главный сервис",
                      label_method:  :name,
                      value_method:  :id,
                      include_blank: "Без сервиса",
                      input_html:    { :class => "search selection" }
    %>

    <%= f.input :info, label: "Описание", as: :text, input_html: { :rows => 4 } %>
  </div>
  <div class="ui basic tab segment" data-tab="content">
    <%= f.input :picture,
                label: "Изображение",
                as: :file,
                required: true
    %>
  </div>

  <%= f.button :button,
               '<i class="check icon"></i> Сохранить'.html_safe,
               class: "responsive mobile primary icon labeled"
  %>
  <%= link_to '<i class="ban icon"></i> Отмена'.html_safe,
              tests_path,
              class: "ui responsive mobile icon labeled button"
  %>

  <% if params[:action] == 'edit' || params[:action] == 'update' %>
    <%= link_to '<i class="eye icon"></i> Посмотреть'.html_safe,
                test_path(@test),
                class: "ui responsive mobile teal right floated icon labeled button"
    %>
    <%= link_to '<i class="trash icon"></i> Удалить'.html_safe,
                test_path(@test),
                class:  "ui responsive mobile negative right floated icon labeled button",
                method: :delete,
                data:   { :confirm => I18n.t("structures.tests.delete.confirm") }
    %>
  <% end %>
<% end %>