<h1 class="ui dividing header">Listing Services</h1>

<%= link_to "#{icon_tag :plus} New Service".html_safe, new_service_path, :class => "ui primary button icon labeled" %>

<% if @services.any? %>
<table class="ui celled  table">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Info</th>
      <th>Key</th>
    </tr>
  </thead>
  <tbody>
    <% @services.each do |item| %>
      <tr>
        <td class="collapsing"><%= item.id %></td>
        <td class="collapsing"><%= link_to item.title, service_path(item) %></td>
        <td><%= item.info %></td>
        <td class="collapsing"><em><%= item.private_key %></em></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <div class="ui icon empty message">
    <i class="idea icon"></i>
    <div class="content">
      <h4 class="ui header">Empty</h4>
      <p>No services.</p>
    </div>
  </div>
<% end %>
