<h2 class="ui header"><%= get_title %></h2>

<%= link_to '<i class="plus icon"></i> Добавить сервис'.html_safe,
            new_service_path,
            class: "ui primary labeled icon button"
%>

<% if @services.length > 0 %>
  <table class="ui selectable celled striped table">
    <thead>
      <tr>
        <th class="center aligned">#</th>
        <th>Код</th>
        <th>Владелец</th>
        <th>Название</th>
        <th>Описание</th>
      </tr>
    </thead>
    <tbody>
      <% @services.each do |service| %>
        <tr>
          <td class="collapsing"><%= service.id %></td>
          <td class="collapsing"><%= service.slug %></td>
          <td class="collapsing"><%= service.owner.email %></td>
          <td>
            <%= link_to service.name, service_path(service) %>
            &nbsp;
            <%= link_to '<i class="pencil large icon"></i>'.html_safe,
                        edit_service_path(service),
                        title: "Редактировать сервис",
                        class: "ui mini olive icon button"
            %>
            <%= link_to '<i class="trash large icon"></i>'.html_safe,
                        service_path(service),
                        method: "delete",
                        data:   { :confirm => I18n.t("structures.services.delete.confirm") },
                        title:  "Удалить сервис",
                        class:  "ui mini negative icon button"
            %>
          </td>
          <td><%= service.info %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <th class="center aligned">#</th>
        <th>Код</th>
        <th>Владелец</th>
        <th>Название</th>
        <th>Описание</th>
      </tr>
    </tfoot>
  </table>
<% else %>
  <div class="ui message">Нет сервисов.</div>
<% end %>