<div class="ui stacked segment">
  <h2 class="ui center aligned header">Повтор активации</h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "ui form" }) do |f| %>
      <div class="field required <%= f.attr_error_class :email %>">
        <%= f.label :email %>
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <%= f.email_field :email, placeholder: "Введите адрес вашей почты", autofocus: true, required: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        </div>
      </div>

      <%= f.button "Отправить", class: "ui fluid large primary button" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>