<div class="ui stacked segment">
  <h2 class="ui center aligned header">Регистрация</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { :class => 'ui form' }) do |f| %>
      <div class="field <%= f.attr_error_class :email %>">
        <%= f.label :email %>
        <div class="ui left icon input">
          <i class="mail icon"></i>
          <%= f.email_field :email,
                            autofocus: true,
                            required: true,
                            placeholder: "Введите свободный электронный адрес"
          %>
        </div>
      </div>

      <div class="required field <%= f.attr_error_class :password %>">
        <%= f.label :password, 'Пароль' %>
        <% if @minimum_password_length %>
            <em><%= @minimum_password_length %> - минимальная длина пароля</em>
        <% end %>
        <%= f.password_field :password,
                             autocomplete: "off",
                             required:     true
        %>
      </div>

      <div class="required field <%= f.attr_error_class :password_confirmation %>">
        <%= f.label :password_confirmation, 'Подтверждение пароля' %>
        <%= f.password_field :password_confirmation,
                             autocomplete: "off",
                             required:     true
        %>
      </div>

      <%= f.button "Регистрация", class: "ui primary fluid large button" %>
      <div class="ui horizontal divider">или</div>
      <%= link_to "Уже зарегистрированы?", new_user_session_path, class: "ui fluid large button" %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>