<div class="ui teal top right attached label">
  <div class="ui top right pointing dropdown">
    <i class="help circle icon"></i>
    <div class="menu">
      <%- if controller_name != 'sessions' && user_signed_in? == false %>
          <%= link_to "Вход", new_session_path(resource_name), class: "item" %>
      <% end -%>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Регистрация", new_registration_path(resource_name), class: "item" %>
      <% end -%>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' && user_signed_in? == false %>
          <%= link_to "Забыли пароль?", new_password_path(resource_name), class: "item" %>
      <% end -%>

      <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Не получили инструкций по активации?", new_confirmation_path(resource_name), class: "item" %>
      <% end -%>

      <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
          <%= link_to "Не получили инструкции по разблокировке?", new_unlock_path(resource_name), class: "item" %>
      <% end -%>

      <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
              <%= link_to "Войти через #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: "item" %>
          <% end -%>
      <% end -%>
    </div>
  </div>
</div>