<% locals[:buttons] ||= false %>

<% if user_signed_in? %>
  <% type = locals[:buttons] ? "ui floating icon pointing top right dropdown inverted basic button" : "ui dropdown item" %>
  <div class="<%= type %>">
      <i class="user icon"></i>
      <%= current_user.email %>
      <i class="dropdown icon"></i>
      <div class="menu">
        <div class="header">Профиль</div>
        <%= render "shared/menu.user.signed" %>
      </div>
  </div>
<% else %>
    <%= active_link_to "Вход", new_user_session_path, class: (locals[:buttons] ? "ui inverted button" : "item") %>
    <%= active_link_to "Регистрация", new_user_registration_path, class: (locals[:buttons] ? "ui inverted button" : "item") %>
<% end %>