<div class="ui vertical left sidebar menu">
  <div class="header item">Меню</div>
  <%= active_link_to "Главная", root_path, class: "item" %>
  <%= active_link_to "О нас", about_path, class: "item" %>
</div>

<div class="ui vertical right sidebar menu">
  <% if user_signed_in? %>
      <div class="header item">Профиль</div>
      <%= render "shared/menu.user.signed" %>
  <% else %>
    <%= active_link_to "Вход", new_user_session_path, class: "item" %>
    <%= active_link_to "Регистрация", new_user_registration_path, class: "item" %>
  <% end %>
</div>