<h2 class="ui header"><%= get_title %></h2>

<div class="ui pointing secondary tabs menu">
  <a class="active item" data-tab="result">Результаты</a>
  <a class="item" data-tab="map">Карта</a>
</div>
<div class="ui basic active tab segment" data-tab="result">
  <table class="ui compact celled definition table">
    <tbody>
      <tr>
        <td class="collapsing">ID</td>
        <td><%= @passage.id %></td>
      </tr>
      <tr>
        <td class="collapsing">Тест</td>
        <td><%= link_to @passage.test.name, test_path(@passage.test) %></td>
      </tr>
      <tr>
        <td class="collapsing">Комментарий</td>
        <td><%= @passage.comment %></td>
      </tr>
      <tr>
        <td class="collapsing">Число кликов</td>
        <td><%= @passage.clicks.length %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="ui basic tab segment" data-tab="map">
  <%= image_tag test_passage_heatmap_path(@passage.test, @passage), class: "ui clicks map rounded fluid image" %>
</div>