<h1 class="ui dividing header">Information on test</h1>

<table class="ui celled striped definition table">
  <tr>
    <td class="collapsing">ID</td>
    <td><%= @test.id %></td>
  </tr>
  <tr>
    <td class="collapsing">Title</td>
    <td><%= @test.title %></td>
  </tr>
  <tr>
    <td class="collapsing">Info</td>
    <td><%= @test.info %></td>
  </tr>
  <tr>
    <td class="collapsing">Service</td>
    <td><%= link_to @test.service.title, @test.service %></td>
  </tr>
  <tr>
    <td class="collapsing">Type</td>
    <td><%= @test.status.capitalize %></td>
  </tr>
  <tr class="warning">
    <td class="collapsing">Time limit (s)</td>
    <td><em><%= @test.time_limit.to_i %></em></td>
  </tr>
  <tr class="warning">
    <td class="collapsing">Strict time limit</td>
    <td><%= @test.limited? ? "Yes" : "No" %></td>
  </tr>
  <tr class="positive">
    <td class="collapsing">Public key</td>
    <td><em><%= @test.public_key %></em></td>
  </tr>
  <tr>
    <td class="collapsing">Task</td>
    <td><%= @test.description %></td>
  </tr>
</table>

<% if @test.screens.any? %>
  <h2 class="ui dividing header">Objects</h2>
  <div class="ui four doubling uploads cards">
    <% @test.screens.each do |screen| %>
      <div class="card">
        <%= link_to image_tag(screen.image.thumb.url), screen.image.url, :target => :_blank, :class => "image" %>
      </div>
    <% end %>
  </div>

  <% if @test.status == 'clicks' %>
    <div class="ui dividing header">Clicks</div>
    <%= link_to image_tag(@test.heatmap_url), @test.heatmap_url, :target => :_blank, :class => "ui image fluid" %>
  <% elsif @test.status == 'poll' %>
    <div class="ui dividing header">Total result</div>

    <div class="ui basic segment poll results">
    <% @test.screens.each do |screen| %>
      <div class="ui screens progress" data-value="<%= @test.poll_result(screen.id) %>">
        <div class="bar">
          <div class="progress"></div>
        </div>
        <div class="label"><%= screen.comment || screen.id %></div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>

<div class="ui divider"></div>

<%= link_to "#{icon_tag :list} Results".html_safe, test_results_path(@test), :class => "ui teal button labeled icon" %>
<%= link_to "#{icon_tag :edit} Edit".html_safe, edit_service_test_path(@service, @test), :class => "ui positive button icon labeled" %>
<%= link_to "#{icon_tag :trash} Destroy".html_safe, service_test_path(@service, @test), :method => :delete, :class => "ui negative button icon labeled" %>
