<h2 class="ui header"><%= get_title %></h2>

<div class="ui pointing secondary tabs menu">
  <a class="active item" data-tab="info">Информация</a>
  <a class="item" data-tab="content">Контент</a>
  <% if @passages.length > 0 %>
  <a class="item" data-tab="map">Общая карта кликов</a>
  <% end %>
  <a class="item" data-tab="results">Результаты</a>
</div>
<div class="ui basic active tab segment" data-tab="info">
  <table class="ui compact celled definition table">
    <tbody>
      <tr>
        <td class="collapsing">ID</td>
        <td><%= @test.id %></td>
      </tr>
      <tr>
        <td class="collapsing">Название</td>
        <td><%= @test.name %></td>
      </tr>
      <tr>
        <td class="collapsing">Описание</td>
        <td><%= @test.info %></td>
      </tr>
      <tr>
        <td class="collapsing">Владелец</td>
        <td><%= link_to @test.owner.email, user_path %></td>
      </tr>
      <tr>
        <td class="collapsing">Сервис</td>
        <td><%= @test.service.nil? ? '---' : @test.service.name %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="ui basic tab segment" data-tab="content">
  <%= image_tag @test.picture.url, class: "ui rounded fluid image" %>
</div>
<% if @passages.length > 0 %>
<div class="ui basic tab segment" data-tab="map">
  <%= image_tag test_heatmap_path(@test), class: "ui clicks map rounded fluid image" %>
</div>
<% end %>
<div class="ui basic tab segment" data-tab="results">
  <% if @passages.length > 0 %>
    <table class="ui celled striped table">
      <% @passages.each do |item| %>
        <tr>
          <td>
            <%= link_to item.created_at.strftime("%Y-%m-%d %H:%M:%S"), test_passage_path(@test, item) %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="ui message">
      Нет результатов
    </div>
  <% end %>
</div>

<%= link_to '<i class="check icon"></i> Пройти'.html_safe,
            new_test_passage_path(@test),
            class: "ui positive icon labeled button"
%>
<%= link_to '<i class="pencil icon"></i> Редактировать'.html_safe,
            edit_test_path(@test),
            class: "ui icon labeled button"
%>
<%= link_to '<i class="trash icon"></i> Удалить'.html_safe,
            test_path(@test),
            class:  "ui negative icon labeled button",
            method: :delete,
            data:   { :confirm => I18n.t("structures.tests.delete.confirm") }
%>