<!DOCTYPE html>
<html>
<head>
  <title>rVisor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', 'public', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'public', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= path_breads %>">
<%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': true if Rails.application.assets.find_asset("#{params[:controller]}.css") %>
<%= render "shared/sidebar" %>

<div class="pusher">
  <div class="ui fixed inverted blur-background main menu">
    <div class="ui container">
      <a class="toc default item"><i class="sidebar icon"></i></a>
      <%= active_link_to '<i class="eye icon"></i> rVisor'.html_safe, root_path, class: "header item" %>
      <%= active_link_to "О проекте", about_path, class: "item" %>
      <div class="right menu">
        <%= render "shared/menu.user", locals: {buttons: false} %>
      </div>
      <a class="right toc user item"><i class="user icon"></i></a>
    </div>
  </div>

  <div class="ui main container">
    <%= semantic_flash %>

    <%= yield %>
  </div>
</div>

<%= javascript_include_tag params[:controller], 'data-turbolinks-track': true if Rails.application.assets.find_asset("#{params[:controller]}.js") %>
</body>
</html>