<!DOCTYPE html>
<html>
<head>
  <title>rVisor</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta charset="utf-8" />
  <%= stylesheet_link_tag    'application', 'public', media: 'all', 'data-turbolinks-track': true %>
  <%= javascript_include_tag 'application', 'public', 'data-turbolinks-track': true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= path_breads %>">
<%= render "shared/sidebar" %>

<div class="pusher">
  <div class="ui vertical landing-header blur-background center aligned segment">
    <div class="ui container">
      <div class="ui large secondary inverted pointing main menu">
        <a class="toc default item"><i class="large sidebar icon"></i></a>
        <%= active_link_to "Главная", root_path, class: "item" %>
        <%= active_link_to "О проекте", about_path, class: "item" %>
        <div class="right item">
          <%= render "shared/menu.user", locals: {buttons: true} %>
        </div>
        <a class="right toc user item"><i class="large user icon"></i></a>
      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted icon header">
        <i class="inverted eye icon"></i>
        <div class="content">
          rVisor system
          <div class="sub header">Система юзабилити-тестирования</div>
        </div>
      </h1>
    </div>
  </div>

  <div class="ui main container">
    <%= semantic_flash %>

    <%= yield %>
  </div>
</div>
</body>
</html>